<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-8 offset-2">
    <br />
    <h3>Edit listing</h3>
    <form
      action="/listing/<%= particularListing._id %>?_method=PUT"
      method="POST"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          value="<%= particularListing.title %>"
          placeholder="enter title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          name="listing[description]"
          placeholder="enter description"
          class="form-control"
          required
        >
<%= particularListing.description%></textarea
        >
        <div class="invalid-feedback">Please enter a short description</div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          value="<%= particularListing.location %>"
          placeholder="enter location"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a valid location</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="text"
            name="listing[price]"
            value="<%= particularListing.price %>"
            placeholder="enter price"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price should be Valid</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            value="<%= particularListing.country %>"
            placeholder="enter country"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country name should be Valid</div>
        </div>
      </div>

      <div class="mb-3">
        <img src="<%= editUrl %>" alt="image" />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input type="file" name="listing[image]" class="form-control" />
      </div>

      <button class="btn btn-dark mb-3 add-button">Edit</button>
    </form>
  </div>
</div>
<script src="/js/script.js"></script>
